body {
 background-color: #000;
 font-family: 'KoHo', sans-serif;
 color: #ffc107;
 scroll-behavior: smooth;
}

::selection {
  background: #ff00eb;
}

a,
a:hover,
.card-header .btn-link {
  color: #ffc107;
}

.text-plain {
  font-family: sans-serif;
  font-size: 14px;
}

.black-text {
  color: #000;
}

.gray-text {
  color: #eee;
}

.fit-width {
  width: 100%;
}

.fas {
  line-height: 1.5;
}

@-webkit-keyframes neon3 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B/*, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B*/;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B/*, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B*/;
  }
}

.modal {
  color: #484848;
}

.navbar {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}


.bg {
  background-image: url(../img/bitcoin.jpg);
  background-position: bottom;
  background-repeat: repeat;
  background-attachment: fixed;

  margin: 2px;
  width: 65px;
  height: 65px;
  display: inline-block; 
  cursor: pointer;
  border: 1px solid #ffc107;
  box-sizing: border-box;

  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.bg:hover {
  background-color: #b3993a;
  border: 1px solid #ffc107;

  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;

}

.bg:visited,
.bg:active,
.bg:focus { /******************* SET VIA JS  *****/
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  border: none;
  cursor: default;
  opacity: 0.2;
}

.dropdown-menu {
  background-color: #343a40;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.accordion,
.card-header .btn-link {
  color: #343a40;
}

.dropdown-item {  
  color:rgba(255,255,255,.75);
}

.dropdown-item:hover {
  background-color: #343a40;
  color: #fff;
}

.bigger-font {
  font-size: 2em;
  line-height: 1;
}

footer .akronim {
  font-size: 24px;
  line-height: 1;
  color: #fff;
}

footer span {
  color:rgba(255,255,255,.75);
}

.adults {
  width: 40px;
  height: auto;
}

/* Popup adblock */
.unblock {
  background-color: #000000e6;
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  line-height: 3;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;

}

.fmenu { 
  position: absolute;
  right: 10%;
  bottom: 10px;

}

.blocked {
  cursor: default;
  animation: none;
  opacity: 0.2;
}

/*  Responsive */

@media screen and (max-width: 600px) {
  .col-lg-8 {
    padding: 0;
  }

  #box1 {
    width: 50px;
    height: 50px;
  }

}











